/* General Styles */
@font-face {
  font-family: "richard";
  src: url("Richard\ Samuels.otf");
}

body {
  font-family: "richard";
  background-color: #000000;
  background-image: url("images/background.jpg");
  color: #ffcc00;
  text-shadow: 2px 2px #ff0000;
  justify-content: center;
}

a {
  color: #ffcc00;
  text-shadow: 2px 2px #ff0000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  justify-content: center;
  text-align: center;
  color: #ffcc00;
}

p {
  text-align: left;
  font-size: large;
  border-radius: 10px;
  /* Set border radius to 10px for rounded corners */
  padding: 20px;
  /* Add some padding to the block */
  color: #ffffff;
}

header {
  background-color: #000000;
  padding: 20px;
}

/* Basic styling for the navigation */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffcc00;
  position: relative;
  border-radius: 5px;
}

/* Hide the navigation links by default on smaller screens */
nav ul {
  display: none;
  flex-direction: column;
  background-color: #ffcc00;
  position: absolute;
  top: 60px;
  right: 0;
  width: auto;
  text-align: right;
  border-radius: 5px;
}

nav ul li {
  margin: 0;
}

nav a {
  font-size: 20px;
  display: block;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  background-color: #ffcc00;
  color: #000000;
}

nav a:hover {
  background-color: #ffa500;
}

/* Styling the hamburger menu */
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.3s;
}

/* Show the navigation links when the checkbox is checked */
#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + #nav-list {
  display: flex;
}

/* Media query to handle larger screens */
@media (min-width: 768px) {
  nav {
    justify-content: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
  }

  .menu-icon {
    display: none;
  }
}

main {
  padding: 40px;
}

footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.smok {
  background-image: url("images/smokepic.png");
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
}

/* Styles for Beat Samples */
.beat {
  background-color: #ffcc00;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
}

.beat h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.beat audio {
  width: 100%;
}

.beat p {
  font-size: 16px;
  margin-top: 10px;
  color: #000000;
}

.player-controls {
    margin-bottom: 20px;
}

.player-controls button
{
    background-color: #ffcc00;
    color: #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
}

.player-controls button:hover,
.player-controls input[type="checkbox"]:hover {
    background-color: #ffa500;
}

.beat .play-btn {
    background-color: #000000;
    color: #ffcc00;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.beat .play-btn:hover {
    background-color: #ffa500;
}

/* Styles for Skateboard Decks */
.deck {
  justify-content: center;
  display: flex;
}

.deck img {
  max-width: 75%;
  min-width: 70%;
  min-height: 300px;
  margin: 10px;
  box-shadow: 0px 0px 10px #ffcc00;
  border-radius: 5px;
}

.deck img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.drawing {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.show-popup {
  display: block !important;
}

table {
  margin: 20px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.play-button {
  cursor: pointer;
}